<div class="example-container">
    <div class="baslik">Page Name</div>
    <input class="page-name" type="text" pInputText placeholder="Page Name">

    <div class="baslik">Business Logic</div>
    <p-editor class="editor" [style]="{'height':'240px'}" placeholder="Business Logic" [(ngModel)]="business"></p-editor>
    <div class="baslik">Technical Analysis</div>
    <p-editor class="editor" [style]="{'height':'240px'}" placeholder="Technical Analysis" [(ngModel)]="technical"></p-editor>

    <div class="baslik">Dosya Yükle</div>
    <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" multiple="multiple" maxFileSize="5000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>

    <button pButton type="button" class="add-btn" label="Add Page"></button>

</div>