<div class="ui-g-12 ui-g-nopad drag-column">
    <p class="ui-g-2 groupname">Grubun Adı:</p>
    <p-chips class="ui-g-10 grouppanel" [(ngModel)]="GrupName" placeholder="Group Name">Grup Adı :</p-chips>
</div>
<div class="example-container">
    <p-pickList [source]="availablePerson" [target]="groupPerson" sourceHeader="Kisiler" targetHeader="Grup Uyeleri" [responsive]="true"
        filterBy="name" dragdrop="true" sourceFilterPlaceholder="Kisi Ara" targetFilterPlaceholder="Kisi Ara">
        <ng-template let-person pTemplate="item">
            <div class="ui-helper-clearfix">
                <div class="pickList">{{person.name}} </div>
            </div>
        </ng-template>
    </p-pickList>

</div>
<button pButton type="button" class="add-btn" label="Grup Ekle"></button>