.example-container {
  
  width: 100%;
  height: 100%;
  max-width: 100%;
   
}

.add-btn {
  margin-left: 25%;
  margin-top: 1%;
  width: 50%;
  display: inline-block;
}


  ::ng-deep body .ui-chips > ul.ui-inputtext{

    width: 100%;}

  .groupname{
    text-align: left;
    width: 10%;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .grouppanel{
    width: 90%;
    
  }
  .picklist{
    font-size:14px;
    float:left;
    margin:5px 2px 0 0;
    width: 50%;

  }
  ::ng-deep .cdk-overlay-pane{
  max-width: 70% !important;
  }

  
