<div class="example-container">

  <!--     
    <mat-form-field class="example-full-width">
      <textarea matInput rows="20"  value={{file.content}}></textarea>
    </mat-form-field>
    <mat-form-field>
      <button mat-button (click)="Save()">Save</button>
      <button mat-button >Cancel</button>
  </mat-form-field> -->

  <div class="baslik">{{pageName}}</div>
  <p-editor class="editor" [style]="{'height':'340px'}" [(ngModel)]="business"></p-editor>
  <button pButton type="button" class="add-btn" label="Edit"></button>
</div>