.example-card {
    max-width: 700px;
    margin-left: 22%;      
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .img {
      width: 250px;
      height: 150px;
      border: 1px solid black;
      text-align: center;
      padding-top: 3%;
      margin-left: 35%;
  }
  .imgFile {
    width: 50%;
    height: 80%;
  }
  ::ng-deep body .ui-card {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
  }