<!-- <mat-card class="yorum" *ngFor="let question of questions">
        <mat-card-content>
                <p>
                        {{question.question}}               
                </p>
        </mat-card-content>
        <mat-card-actions>
                <button mat-button>Cevapla</button>
        </mat-card-actions>
</mat-card> -->

<p-card  header="Question" subheader="{{question.type}} - {{question.username}}" styleClass="ui-card-shadow " *ngFor="let question of questions" id="question">
        <i class="pi pi-pencil" (click)="showEditPage()"></i>
        <div>{{question.question}}</div>
        <p-footer>
                <button pButton type="button" label="Answer" (click)="answerPage()" icon="pi pi-comment" class="ui-button-success" style="margin-right: .25em"></button>
        </p-footer>
</p-card>