.checkboxes {
    margin-left: 3%;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.items {
    margin-left: 12%;
} 
:host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
    color: #ffffff;
}

.btnDelete {
    float: right;
    margin-right: 15%;
}
.addBtn{
    margin-left: 45%;
    margin-bottom: 5%;
}
.baslik {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
    margin-left: 15%;
    font-weight: bold;
  }